body {
  font-family: "Open Sans";
  background-color: #fafbfd;
}

/* strong{
    color: #0061FF;
} */

nav {
  padding: 1% 7%;
}

a {
  /* padding: 5px; */
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
  color: #0061ff;
}

.nav {
  background-color: white;
  height: 60px;
}

.nav-link {
  padding-right: 70px;
}

.vl {
  border-left: 1px solid #b3b3b3;
}

.greetings {
  padding: 5% 7%;
}

.account-ballance {
  padding: 0 7%;
}

.button-payment {
  background-color: #0061ff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 10px #19918f;
}
